 <%= form_with model: @blog, local: true do |f| %>

  <div class="blog-form__field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="blog-form__field">
    <%= f.label :category, "カテゴリー" %><br />
    <%= f.text_field :category %>
  </div>

  <div class="blog-form__field">
    <%= f.label :body, "本文" %><br />
    <%= f.text_area :body %>
  </div>

  <div class="blog-form__field">
    <%= f.label :image, "画像" %><br />
    <%= f.attachment_field :image %>
  </div>

  <div class="blog-form__field">
    <%= f.submit "投稿" %>
  </div>

<% end %>