
  <section class="blog">
    <h2 class="blog__heading">Recent Blogs</h2>
    <div class="blog__box">
      <% @blogs.each do |blog| %>
        <div class="blog__item">
          <div class="blog__image"><%= attachment_image_tag blog, :image, class: "blog__image" %></div>
          <section class="blog__text">
            <h3 class="blog__text-heading"><%= link_to blog.title, blog_path(blog) %></h3>
            <p class="blog__date"><%= blog.created_at %></p>
            <span class="blog__category"><%= blog.category %></span>
            <p><%= link_to "#{blog.blogcomments.count}件のコメント", blog_path(blog.id) %></p>
          </section>
        </div>
      <% end %>
    </div>
    <div class="blog__pagination">
      <p class="blog__pagination-component"><<</p>
      <p class="blog__pagination-component"><</p>
      <p class="blog__pagination-component">1</p>
      <p class="blog__pagination-component">2</p>
      <p class="blog__pagination-component">3</p>
      <p class="blog__pagination-component">></p>
      <p class="blog__pagination-component">>></p>
    </div>
  </section>

