  <section class="single-blog">
    <h2 class="single-blog__heading">Blog</h2>
    <section class="single-blog__box">
      <h3 class="single-blog__box-heading">
        <!-- title部分 下で変更します -->
        <%= @blog.title %>
        <!-- title部分 ここまで -->
      </h3>
      <div class="single-blog__box-content">
        <p class="single-blog__box-category">
          <!-- category部分 下で変更します -->
          <%= @blog.category %>
          <!-- category部分 ここまで -->
        </p>
        <p class="single-blog__box-date">
          <!-- created_at部分 下で変更します -->
          <%= @blog.created_at %>
          <!-- created_at部分 ここまで -->
        </p>
      </div>
      <%= image_tag "img/forest.jpg", class:"single-blog__box-image" %>
      <p class="single-blog__box-text">
        <!-- body部分 下で変更します -->
        <%= @blog.body %>
        <!-- body部分 ここまで -->
      </p>
      <%= link_to "編集", edit_blog_path(@blog) %>
      <%= link_to "削除", blog_path(@blog), method: :delete  %>
      <div class="single-blog__box-author-case">
        <div class="single-blog__box-author-image"></div>
        <div class="single-blog__box-author-box">
          <p class="single-blog__box-author-name">By JOHN SMITH / Photographer</p>
          <p class="single-blog__box-author-text">
            His black and white landscapes, often captured at times<br>
            of the day and night when the light is fleeting, or in poor<br>
            weather conditions, such as rain, fog, or snow, are<br>
            reminiscent of the calm in a storm all with an ethereal<br>
            quality.
          </p>
        </div>
      </div>
    </section>
  </section>
