<div class="container">
  <h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h2>

  <thead>
    <tr>
      <th style="text-align: left; font-size: 20px;"><%= current_user.name %></th>
      <th style="text-align: right; font-size: 20px;"><%= @user.name %></th>
    </tr>
  </thead>
  <div class ="message">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <tbody>
        <tr>
          <th>
            <p style='text-align: left;'><%= chat.message %></p>
          </th>
          <th></th>
        </tr>
      </tbody>
    <% else %>
      <tbody class="message">
        <tr>
          <th></th>
          <th>
            <p style='text-align: right;'><%= chat.message %></p>
          </th>
        </tr>
      </tbody>
    <% end %>
  <% end %>
  </div>

  <%= form_with model: @chat, remote: true do |f| %>
    <%= f.text_field :message %>
    <%= f.hidden_field :room_id %>
  <% end %>
</div>